@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&family=Work+Sans:wght@700&display=swap');

$grey-light: #fdfbfb;
$grey-medium: #ededef;
$grey-dark: #2e2e34;
$primaryColor: #ace8b9;
$dangerColor: rgb(190, 67, 67);
$text-color: #1a1a1d;

$big-title-font: 'Work Sans', cursive;
$title-font: 'Barlow', sans-serif;
$nav-font: 'Barlow', sans-serif;
